.head {
    background-image: url(../img/PIZZA.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2000px;
    text-align: center;
    color: white;
    padding-top: 270px;
    padding-bottom: 290px;
    
}
img {
    height: 30px;
    width: 30px;
}
.head h1 {
    font-size: 115px;
}

  
  
.column {
  float: left;
  width: 25%;
  padding: 10px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
.columns {
  float: left;
  width: 50%;
  padding: 5px;
}
h2 {
  text-align: center;
}
p{
  text-align: center;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 17px;
}

.column {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.column .name {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 87%;
  padding: 20px;
}
.columns {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.columns .name {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 50%;
  padding: 20px;
}
.column1{
  float: left;
  width: 33.3%;
  padding: 5px;
}

#show-order {
display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}  